body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#canvas-container {
  position: absolute; /* Overlay the canvas */
  z-index: 10; /* lower z-index so it's below the GDP content */
  pointer-events: auto;
}

#gdp-content {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}