p {
    color: whitesmoke;
}

h2 {
    color: whitesmoke;
}

.game h2 {
    text-align: center;
}

.frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div-2 {
    height: 700px;
    position: relative;
    width: 1440px;
  }
  
  .frame .country-b {
    color: #d9d9d9;
    font-family: "Kumbh Sans-Bold", Helvetica;
    font-size: 40.4px;
    font-weight: 700;
    left: 131px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 281px;
    width: 319px;
    pointer-events: none;
  }
  
  .frame .text-wrapper-2 {
    color: #d9d9d9;
    font-family: "Kumbh Sans-Bold", Helvetica;
    font-size: 40.4px;
    font-weight: 700;
    left: 1019px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 204px;
    width: 224px;
    pointer-events: none;
  }
  
  .frame .overlap-group {
    height: 67px;
    left: 479px;
    position: absolute;
    top: 34px;
    width: 481px;
    pointer-events: none;
  }
  
  .frame .text-wrapper-3 {
    color: #ff7f50;
    font-family: "Kumbh Sans-Bold", Helvetica;
    font-size: 49.7px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 481px;
    pointer-events: none;
  }
  
  .frame .logo-arrow {
    height: 41px;
    left: 446px;
    position: absolute;
    top: 18px;
    width: 45px;
    pointer-events: none;
  }
  
  .frame .logo-arrow-2 {
    height: 41px;
    left: 436px;
    position: absolute;
    top: -2px;
    width: 45px;
    pointer-events: none;
  }
  
  .frame .higher-button-instance {
    left: 1031px !important;
    position: absolute !important;
    top: 300px !important;
  }
  
  .frame .design-component-instance-node {
    top: 29px !important;
  }
  
  .frame .lower-button-instance {
    left: 1031px !important;
    position: absolute !important;
    top: 421px !important;
  }
  
  .frame .text-wrapper-4 {
    color: #ffffff;
    font-family: "Kumbh Sans-Bold";
    font-size: 28px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 664px;
    width: 109px;
    white-space: nowrap !important;
  }
  
